<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--okres odpytywania o konfigurację-->
  <add key="reconfigureTime" value="300"/>
  <!--okres bezczynności-->
  <add key="idleTime" value="30"/>
  <!--godzina wyłączenia komputera-->
  <add key="shutdownTime" value="19:10" />
  <panels>
    <!--szerokości paneli-->
    <layout>
      <add key="downHorizontalSplitSize" value="5"/>
      <add key="leftVerticalSplitSize" value="19.9"/>
      <add key="rightVerticalSplitSize" value="19.9"/>
      <add key="leftHorizontalSplitSize" value="33.3"/>
      <add key="rightHorizontalSplitSize" value="66.6"/>
      <add key="middleHorizontalSplitSize" value="33.3"/>
    </layout>
    <!--adresy url paneli-->
    <urls>
      <add key="mainPanelUrl" value="http://rov3rpl.github.com/IK/strona.html"/>
      <add key="leftUpperPanelUrl" value="http://rov3rpl.github.com/IK/page4.html"/>
      <add key="leftDownPanelUrl" value="http://rov3rpl.github.com/IK/page2.html"/>
      <add key="middleUpperPanelUrl" value="http://rov3rpl.github.com/IK/page5.html"/>
      <add key="rightUpperPanelUrl" value="http://rov3rpl.github.com/IK/page3.html"/>
      <add key="rightDownPanelUrl" value="http://rov3rpl.github.com/IK/page1.html"/>
    </urls>
  </panels>
  <!--domeny zablokowane-->
  <blacklist>
	  <domain>www.gazeta.pl</domain>
	  <domain>www.youporn.com</domain>
	  <domain>www.redtube.com</domain>
	  <domain>www.xvideos.com</domain>
  </blacklist>
  <!--hasło odblokowujące infokiosk, MD5? SHA1?-->
  <add key="unblock" value="pelikan"/>
</configuration>