<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--okres odpytywania o konfiguracjê-->
  <add key="reconfigureTime" value="300"/>
  <!--okres bezczynnoœci-->
  <add key="idleTime" value="30"/>
  <!--godzina wy³¹czenia komputera-->
  <add key="shutdownTime" value="19:10" />
  <panels>
    <!--szerokoœci paneli-->
    <layout>
      <add key="downHorizontalSplitSize" value="5"/>
      <add key="leftVerticalSplitSize" value="25"/>
      <add key="rightVerticalSplitSize" value="25"/>
      <add key="leftHorizontalSplitSize" value="50"/>
      <add key="rightHorizontalSplitSize" value="50"/>
      <add key="middleHorizontalSplitSize" value="30"/>
    </layout>
    <!--adresy url paneli-->
    <urls>
      <add key="mainPanelUrl" value="http://www.whatismybrowser.com/"/>
      <add key="leftUpperPanelUrl" value="http://jsfiddle.net/k29Fp/1/show/"/>
      <add key="leftDownPanelUrl" value="http://jsfiddle.net/UfCZJ/show/"/>
      <add key="middleUpperPanelUrl" value="http://jsfiddle.net/r6UGD/show/"/>
      <add key="rightUpperPanelUrl" value="http://jsfiddle.net/nxwx9/show/"/>
      <add key="rightDownPanelUrl" value="http://jsfiddle.net/XPfq4/3/show/"/>
    </urls>
  </panels>
  <!--domeny zablokowane-->
  <blacklist>
	  <domain>www.gazeta.pl</domain>
	  <domain>www.youporn.com</domain>
	  <domain>www.redtube.com</domain>
	  <domain>www.xvideos.com</domain>
  </blacklist>
  <!--has³o odblokowuj¹ce infokiosk, MD5? SHA1?-->
  <add key="unblock" value="pelikan"/>
</configuration>